# Database
DATABASE_URI=mongodb://127.0.0.1/your-database-name

# Server
PORT=3000
PAYLOAD_SECRET=your-payload-secret
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
PAYLOAD_CONFIG_PATH=payload.config.ts

# Client
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_PUBLIC_URL=http://localhost:3000

# Email
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
SMTP_FROM=noreply@example.com

# Add any other required environment variables WITHOUT actual values
